@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Jost", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

* {
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #e2e2e2;
}

:root {
    --font-color-white: #ffffff;
    --gray-color: #a6a6a6;
    --nav-color: #424242;
    --nav-color-2: #2a2a2a;
    --font-color-black: #000000;
    --button-color: #f7b829;
    --text-black: #000;
    --text-white: #fff;
    --bg-black: #000;
    --bg-white: #fff;
}
